<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.vm.mapper.AnswerMapper">

    <resultMap type="Answer" id="AnswerResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="answer"    column="answer"    />
        <result property="level"    column="level"    />
        <result property="options"    column="options"    />
        <result property="chapterId"    column="chapter_id"    />
        <result property="analysis"    column="analysis"    />
        <result property="taskId"    column="task_id"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectAnswerVo">
        select id, type, content, answer, level, options, chapter_id, analysis, task_id, gmt_create, gmt_modified from edu_answer
    </sql>

    <select id="selectAnswerList" parameterType="Answer" resultMap="AnswerResult">
        <include refid="selectAnswerVo"/>
        <where>
            <if test="type != null "> and type = #{type}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="answer != null  and answer != ''"> and answer = #{answer}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="options != null  and options != ''"> and options = #{options}</if>
            <if test="chapterId != null  and chapterId != ''"> and chapter_id = #{chapterId}</if>
            <if test="analysis != null  and analysis != ''"> and analysis = #{analysis}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>

    <select id="selectAnswerById" parameterType="Long" resultMap="AnswerResult">
        <include refid="selectAnswerVo"/>
        where id = #{id}
    </select>

    <insert id="insertAnswer" parameterType="Answer">
        insert into edu_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null">type,</if>
            <if test="content != null">content,</if>
            <if test="answer != null">answer,</if>
            <if test="level != null">level,</if>
            <if test="options != null">options,</if>
            <if test="chapterId != null">chapter_id,</if>
            <if test="analysis != null">analysis,</if>
            <if test="taskId != null">task_id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
            <if test="answer != null">#{answer},</if>
            <if test="level != null">#{level},</if>
            <if test="options != null">#{options},</if>
            <if test="chapterId != null">#{chapterId},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
        </trim>
    </insert>

    <update id="updateAnswer" parameterType="Answer">
        update edu_answer
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="content != null">content = #{content},</if>
            <if test="answer != null">answer = #{answer},</if>
            <if test="level != null">level = #{level},</if>
            <if test="options != null">options = #{options},</if>
            <if test="chapterId != null">chapter_id = #{chapterId},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnswerById" parameterType="Long">
        delete from edu_answer where id = #{id}
    </delete>

    <delete id="deleteAnswerByIds" parameterType="String">
        delete from edu_answer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getTestPaperAnswer"  parameterType="String">
        select a.id, a.type, a.content, a.answer, a.level, a.options, a.create_time, a.chapter_id, a.update_time, a.analysis, a.task_id
        from edu_answer a,  edu_answer_testPaper b
        where a.id = b.answer_id  and  b.test_paper_id = #{testPaperId}
    </select>

</mapper>
