<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.vm.mapper.ExamPaperMapper">

    <resultMap type="ExamPaper" id="ExamPaperResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="totalScore"    column="total_score"    />
        <result property="type"    column="type"    />
        <result property="category"    column="category"    />
        <result property="quCount"    column="qu_count"    />
        <result property="examId"    column="exam_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="reserveField3"    column="reserve_field3"    />
        <result property="reserveField4"    column="reserve_field4"    />
        <result property="reserveField5"    column="reserve_field5"    />
    </resultMap>

    <sql id="selectExamPaperVo">
        select id, user_id, title, total_score, type, category, qu_count, exam_id, create_time, update_time, reserve_field3, reserve_field4, reserve_field5 from edu_exam_paper
    </sql>

    <select id="selectExamPaperList" parameterType="ExamPaper" resultMap="ExamPaperResult">
        <include refid="selectExamPaperVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="quCount != null "> and qu_count = #{quCount}</if>
            <if test="examId != null  and examId != ''"> and exam_id = #{examId}</if>
            <if test="reserveField3 != null  and reserveField3 != ''"> and reserve_field3 = #{reserveField3}</if>
            <if test="reserveField4 != null  and reserveField4 != ''"> and reserve_field4 = #{reserveField4}</if>
            <if test="reserveField5 != null  and reserveField5 != ''"> and reserve_field5 = #{reserveField5}</if>
        </where>
    </select>

    <select id="selectExamPaperById" parameterType="String" resultMap="ExamPaperResult">
        <include refid="selectExamPaperVo"/>
        where id = #{id}
    </select>

    <insert id="insertExamPaper" parameterType="ExamPaper">
        insert into edu_exam_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="type != null">type,</if>
            <if test="category != null">category,</if>
            <if test="quCount != null">qu_count,</if>
            <if test="examId != null">exam_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="reserveField3 != null">reserve_field3,</if>
            <if test="reserveField4 != null">reserve_field4,</if>
            <if test="reserveField5 != null">reserve_field5,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="type != null">#{type},</if>
            <if test="category != null">#{category},</if>
            <if test="quCount != null">#{quCount},</if>
            <if test="examId != null">#{examId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="reserveField3 != null">#{reserveField3},</if>
            <if test="reserveField4 != null">#{reserveField4},</if>
            <if test="reserveField5 != null">#{reserveField5},</if>
        </trim>
    </insert>

    <update id="updateExamPaper" parameterType="ExamPaper">
        update edu_exam_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="type != null">type = #{type},</if>
            <if test="category != null">category = #{category},</if>
            <if test="quCount != null">qu_count = #{quCount},</if>
            <if test="examId != null">exam_id = #{examId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="reserveField3 != null">reserve_field3 = #{reserveField3},</if>
            <if test="reserveField4 != null">reserve_field4 = #{reserveField4},</if>
            <if test="reserveField5 != null">reserve_field5 = #{reserveField5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExamPaperById" parameterType="String">
        delete from edu_exam_paper where id = #{id}
    </delete>

    <delete id="deleteExamPaperByIds" parameterType="String">
        delete from edu_exam_paper where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
