<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.vm.mapper.ExamMapper">

    <resultMap type="Exam" id="ExamResult">
        <result property="id" column="id"/>
        <result property="paperId" column="paper_id"/>
        <result property="title" column="title"/>
        <result property="qualifyScore" column="qualify_score"/>
        <result property="totalTime" column="total_time"/>
        <result property="totalScore" column="total_score"/>
        <result property="limitCount" column="limit_count"/>
        <result property="limitTime" column="limit_time"/>
        <result property="resultType" column="result_type"/>
        <result property="content" column="content"/>
        <result property="thanks" column="thanks"/>
        <result property="openType" column="open_type"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectExamVo">
        select id,
               paper_id,
               title,
               qualify_score,
               total_time,
               total_score,
               limit_count,
               limit_time,
               result_type,
               content,
               thanks,
               open_type,
               password,
               status,
               start_time,
               end_time,
               create_by,
               create_time,
               update_time
        from edu_exam
    </sql>

    <select id="selectExamList" parameterType="Exam" resultMap="ExamResult">
        <include refid="selectExamVo"/>
        <where>
            <if test="paperId != null  and paperId != ''">and paper_id = #{paperId}</if>
            <if test="title != null  and title != ''">and title like concat('%',#{title},'%')</if>
            <if test="qualifyScore != null ">and qualify_score = #{qualifyScore}</if>
            <if test="totalTime != null ">and total_time = #{totalTime}</if>
            <if test="totalScore != null ">and total_score = #{totalScore}</if>
            <if test="limitCount != null  and limitCount != ''">and limit_count = #{limitCount}</if>
            <if test="limitTime != null ">and limit_time = #{limitTime}</if>
            <if test="resultType != null ">and result_type = #{resultType}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="thanks != null  and thanks != ''">and thanks = #{thanks}</if>
            <if test="openType != null ">and open_type = #{openType}</if>
            <if test="password != null ">and password = #{password}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
        </where>
    </select>

    <select id="selectUserExamList" resultType="com.lazy.vm.domain.Exam">
        <include refid="selectExamVo"/>
        a left join edu_exam_dept b on a.id = b.exam_id
        <where>
            <if test="paperId != null  and paperId != ''">and paper_id = #{paperId}</if>
            <if test="title != null  and title != ''">and title like concat('%',#{title},'%')</if>
            <if test="qualifyScore != null ">and qualify_score = #{qualifyScore}</if>
            <if test="totalTime != null ">and total_time = #{totalTime}</if>
            <if test="totalScore != null ">and total_score = #{totalScore}</if>
            <if test="limitCount != null  and limitCount != ''">and limit_count = #{limitCount}</if>
            <if test="limitTime != null ">and limit_time = #{limitTime}</if>
            <if test="resultType != null ">and result_type = #{resultType}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="thanks != null  and thanks != ''">and thanks = #{thanks}</if>
            <if test="openType != null ">and open_type = #{openType}</if>
            <if test="password != null ">and password = #{password}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
            and b.dept_id = #{deptId}
        </where>

    </select>

    <select id="selectExamById" parameterType="String" resultMap="ExamResult">
        <include refid="selectExamVo"/>
        where id = #{id}
    </select>
    <select id="selectExamJoinPaperList" resultType="com.lazy.vm.domain.Exam">
        select a.id, a.paper_id paperId, a.title, a.qualify_score qualifyScore,a.start_time startTime,a.end_time endTime, a.total_time totalTime,a.total_score
        totalScore, a.limit_count limitCount, a.limit_time limitTime,content, status FROM
        edu_exam a inner JOIN edu_test_paper b on a.paper_id =b.id left join edu_exam_dept c on a.id = c.exam_id
        <where>
            <if test="courseId!=null and courseId!=''">
                and b.category = #{courseId}
            </if>
            <if test="title!=null and title!=''">
                and a.title like concat('%',#{title},'%')
            </if>
            <if test="deptId!=null and deptId!=''">
                and c.dept_id=#{deptId}
            </if>
        </where>
    </select>
    <select id="selectExamReviewList" resultType="com.lazy.vm.domain.vo.ExamVo">
        SELECT
            e.id,
            e.title title,
            e.open_type openType,
            e.paper_id paperId,
            ( SELECT count(*) FROM edu_exam_paper WHERE exam_id = e.id ) examUser,(
                SELECT
                    count(*)
                FROM
                    edu_exam_paper
                WHERE
                    exam_id = e.id
                  AND status = 1
            ) unreadPaper
        FROM
            edu_exam e

        <if test="title!=null and title!=''">
            WHERE e.title like concat('%',#{title},'%')
        </if>
    </select>
    <select id="errorStat" resultType="com.lazy.vm.domain.vo.ErrorStatVo">
        SELECT
            c.content_text content,
            count(*) `count`,
            a.type type,
            count(
                    IF
                        ( b.is_right != 1, 1, NULL )) errorCount,
            CONCAT( ROUND( COUNT( IF ( b.is_right != 1, 1, NULL ))/ count(*)* 100, 1 ), '', '%' ) errorPro
        FROM
            edu_exam e
                LEFT JOIN edu_exam_paper a ON e.id = a.exam_id
                LEFT JOIN edu_exam_answer b ON a.id = b.paper_id
                LEFT JOIN edu_answer c ON b.qu_id = c.id
        WHERE
            e.id = #{examId}
        GROUP BY
            c.id
    </select>
    <select id="avgMaxMin" resultType="com.lazy.vm.domain.vo.AvgMaxMinStatVo">
        SELECT
            e.title title,
            COUNT(DISTINCT p.user_id) userCount,
            count(*) `count`,
            AVG( p.user_score ) `avg`,
            SUM(p.user_score) `sum`,
            MAX(user_score) `max`,
            MIN(user_score) `min`
        FROM
            edu_exam e
                LEFT JOIN edu_exam_paper p ON e.id = p.exam_id
        GROUP BY
            e.id
    </select>

    <insert id="insertExam" parameterType="Exam">
        insert into edu_exam
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="paperId != null">paper_id,</if>
            <if test="title != null">title,</if>
            <if test="qualifyScore != null">qualify_score,</if>
            <if test="totalTime != null">total_time,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="limitCount != null">limit_count,</if>
            <if test="limitTime != null">limit_time,</if>
            <if test="resultType != null">result_type,</if>
            <if test="content != null">content,</if>
            <if test="thanks != null">thanks,</if>
            <if test="openType != null">open_type,</if>
            <if test="password != null">password,</if>
            <if test="status != null">status,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="paperId != null">#{paperId},</if>
            <if test="title != null">#{title},</if>
            <if test="qualifyScore != null">#{qualifyScore},</if>
            <if test="totalTime != null">#{totalTime},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="limitCount != null">#{limitCount},</if>
            <if test="limitTime != null">#{limitTime},</if>
            <if test="resultType != null">#{resultType},</if>
            <if test="content != null">#{content},</if>
            <if test="thanks != null">#{thanks},</if>
            <if test="openType != null">#{openType},</if>
            <if test="password != null">#{password},</if>
            <if test="status != null">#{status},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateExam" parameterType="Exam">
        update edu_exam
        <trim prefix="SET" suffixOverrides=",">
            <if test="paperId != null">paper_id = #{paperId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="qualifyScore != null">qualify_score = #{qualifyScore},</if>
            <if test="totalTime != null">total_time = #{totalTime},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="limitCount != null">limit_count = #{limitCount},</if>
            <if test="limitTime != null">limit_time = #{limitTime},</if>
            <if test="resultType != null">result_type = #{resultType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="thanks != null">thanks = #{thanks},</if>
            <if test="openType != null">open_type = #{openType},</if>
            <if test="password != null">password = #{password},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExamById" parameterType="String">
        delete
        from edu_exam
        where id = #{id}
    </delete>

    <delete id="deleteExamByIds" parameterType="String">
        delete from edu_exam where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
