<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.vm.mapper.SubjectMapper">

    <resultMap type="Subject" id="SubjectResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="parentId"    column="parent_id"    />
        <result property="sort"    column="sort"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectSubjectVo">
        select id, title, parent_id, sort, gmt_create, gmt_modified from edu_subject
    </sql>

    <select id="selectSubjectList" parameterType="Subject" resultMap="SubjectResult">
        <include refid="selectSubjectVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>

    <select id="selectSubjectById" parameterType="String" resultMap="SubjectResult">
        <include refid="selectSubjectVo"/>
        where id = #{id}
    </select>

    <insert id="insertSubject" parameterType="Subject">
        insert into edu_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="parentId != null and parentId != ''">parent_id,</if>
            <if test="sort != null">sort,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="parentId != null and parentId != ''">#{parentId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
        </trim>
    </insert>

    <update id="updateSubject" parameterType="Subject">
        update edu_subject
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubjectById" parameterType="String">
        delete from edu_subject where id = #{id}
    </delete>

    <delete id="deleteSubjectByIds" parameterType="String">
        delete from edu_subject where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
