<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.vm.mapper.TaskMapper">

    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="title"    column="title"    />
        <result property="type"    column="type"    />
        <result property="singleCount"    column="single_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="multipleCount"    column="multiple_count"    />
        <result property="judgment"    column="judgment"    />
        <result property="updateTime"    column="update_time"    />
        <result property="fillCount"    column="fill_count"    />
        <result property="aqCount"    column="aq_count"    />
        <result property="reserveField"    column="reserve_field"    />
        <result property="reserveField1"    column="reserve_field1"    />
        <result property="reserveField2"    column="reserve_field2"    />
        <result property="reserveField3"    column="reserve_field3"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, course_id, title, type, single_count, create_time, multiple_count, judgment, update_time, fill_count, aq_count, reserve_field, reserve_field1, reserve_field2, reserve_field3 from edu_task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>
            <if test="courseId != null  and courseId != ''"> and course_id = #{courseId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="singleCount != null "> and single_count = #{singleCount}</if>
            <if test="multipleCount != null "> and multiple_count = #{multipleCount}</if>
            <if test="judgment != null "> and judgment = #{judgment}</if>
            <if test="fillCount != null "> and fill_count = #{fillCount}</if>
            <if test="aqCount != null "> and aq_count = #{aqCount}</if>
            <if test="reserveField != null  and reserveField != ''"> and reserve_field = #{reserveField}</if>
            <if test="reserveField1 != null  and reserveField1 != ''"> and reserve_field1 = #{reserveField1}</if>
            <if test="reserveField2 != null  and reserveField2 != ''"> and reserve_field2 = #{reserveField2}</if>
            <if test="reserveField3 != null  and reserveField3 != ''"> and reserve_field3 = #{reserveField3}</if>
        </where>
    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertTask" parameterType="Task">
        insert into edu_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="title != null">title,</if>
            <if test="type != null">type,</if>
            <if test="singleCount != null">single_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="multipleCount != null">multiple_count,</if>
            <if test="judgment != null">judgment,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="fillCount != null">fill_count,</if>
            <if test="aqCount != null">aq_count,</if>
            <if test="reserveField != null">reserve_field,</if>
            <if test="reserveField1 != null">reserve_field1,</if>
            <if test="reserveField2 != null">reserve_field2,</if>
            <if test="reserveField3 != null">reserve_field3,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="title != null">#{title},</if>
            <if test="type != null">#{type},</if>
            <if test="singleCount != null">#{singleCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="multipleCount != null">#{multipleCount},</if>
            <if test="judgment != null">#{judgment},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="fillCount != null">#{fillCount},</if>
            <if test="aqCount != null">#{aqCount},</if>
            <if test="reserveField != null">#{reserveField},</if>
            <if test="reserveField1 != null">#{reserveField1},</if>
            <if test="reserveField2 != null">#{reserveField2},</if>
            <if test="reserveField3 != null">#{reserveField3},</if>
        </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update edu_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="singleCount != null">single_count = #{singleCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="multipleCount != null">multiple_count = #{multipleCount},</if>
            <if test="judgment != null">judgment = #{judgment},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="fillCount != null">fill_count = #{fillCount},</if>
            <if test="aqCount != null">aq_count = #{aqCount},</if>
            <if test="reserveField != null">reserve_field = #{reserveField},</if>
            <if test="reserveField1 != null">reserve_field1 = #{reserveField1},</if>
            <if test="reserveField2 != null">reserve_field2 = #{reserveField2},</if>
            <if test="reserveField3 != null">reserve_field3 = #{reserveField3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from edu_task where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from edu_task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
